/* .masonry-wrapper {
  max-width: 550px;
} */

.masonry {
    columns: 1;
    column-gap: 10px;

    &-item {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        background-color: rebeccapurple;
    }

    &-item,
    &-content {
        border-radius: 4px;
    }

    @media (min-width : map-get($breakpoints, "extra-large")) {
        & {
            columns: 2;
        }
    }
}